streamlit
streamlit-javascript

google-generativeai
python-dotenv

numpy
pandas

faiss-cpu
sentence-transformers

torch
torchvision
transformers

pypdf

opencv-python-headless
Pillow

scikit-learn

GitPython
requests